.schedule-page {
  min-height: 200vh;
  background-color: $bg-color3;
}

// !스케줄 페이지의 메인 배너
.schedule-banner {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/profile-bg2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  //   filter: brightness(50%);
}

.schedule-info {
  max-width: 1000px;
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  //   border: 2px solid red;
  color: $text-white;
  display: flex;
  justify-content: center;
  align-items: center;

  .schedule-avatar {
    // border: 2px solid blue;
    width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 230px;
      height: 230px;
      display: block;
      border: 8px solid white;
      border-radius: 50%;

      background: #e2e0e0;
      background-size: cover;
      position: absolute;

      right: -58px;
      z-index: 2;
    }
  }

  .schedule-title {
    // border: 2px solid green;
    background: $text-white;
    opacity: 0.7;
    color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    // width: 100%;
    width: 850px;

    height: 200px;
    padding: 30px 50px;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    // ! 새로 추가 들어간다.
    textarea {
      resize: none;
      font-size: 1.5em;
      font-weight: 500;
      line-height: 1.5em;
      width: 100%;
      background: opacify($color: #f3c1c1, $amount: 0.2);
      border: none;
      border-radius: 10px;
    }
    textarea::placeholder {
      font-size: 1em;
    }

    h2 {
      font-weight: 500;
      font-size: 1.5em;
      text-align: center;
      height: 100px;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.5em;
      height: 4.8em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: wrap;
      padding: 5px 10px;
    }

    .thumbs {
      font-size: 1.3em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      margin-left: 10px;
      white-space: nowrap;

      .fa-thumbs-up {
        color: $btn-color1;
        cursor: pointer;
      }
      .fa-thumbs-down {
        color: $btn-color2;
        cursor: pointer;
      }
      .fa-eraser {
        cursor: pointer;
        color: $bg-color1;

        &:hover {
          color: $btn-color1;
        }
      }
      i {
        padding: 5px 10px;
        span {
          color: black;
        }
      }
    }
  }
}

.shortcut-icons {
  position: absolute;
  bottom: 0;
  //   left: 0;
  //   transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  //   border: 2px solid green;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  .add-thumbnail,
  .bookmark-share {
    color: $text-white;
    font-size: 2em;
    cursor: pointer;

    i {
      //   border: 2px solid red;

      display: inline-block;

      &:hover {
        color: $btn-color1;
      }
    }
  }

  .fas,
  .far {
    padding: 15px;
  }
}

// 버튼을 통해 숨겨졌다 나타나게 하는 모달 컨테이너 전체. 먼저 position 으로 고정해줘야 할듯.
.modal-container {
  // display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  //전체 너비와 높이를 덮기 위해 viewport 로 높이, 너비 지정
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  // 위치 지정, flex.
  display: flex;
  justify-content: center;
  align-items: center;

  // ! 기본적으로 불투명도 (Opacity: 0) 를 적용해서 modal-container 가 안보이게 함
  opacity: 0;

  // pointer 이벤트를 none 으로 두면 이벤트를 캡처하지 않으므로 클릭이 가능해짐.
  pointer-events: none;
  transition: opacity 0.3s ease;
}

// 실제 나타났다 사라지는 모달 창
.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  text-align: center;
  .logo2 {
    width: 50%;
  }

  h1,
  p {
    padding: 10px 0;
  }
  h1 {
    font-size: 24px;
    margin: 0;
  }
  ul {
    padding: 5px;
    line-height: 2em;
    li {
      font-size: 18px;
    }
  }
  p {
    font-size: 14px;
    opacity: 0.7;
  }
  .btn-thumbmodal {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      background-color: $bg-color2;
      border: 0;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 14px;
      padding: 10px 25px;
    }
    button:nth-child(2) {
      background: $btn-color2;
    }
    button:nth-child(3) {
      background: $btn-hover1;
    }
  }
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

// ! 관련 해쉬 태그를 보여주는 related-hashtags
.related-hashtags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16vh;
  position: relative;
  width: 100%;
  background: $bg-color1;
  margin-top: 5px;
  padding: 20px 200px;
  border-top: 5px solid $text-white;
  border-bottom: 5px solid $text-white;

  h2 {
    font-weight: 500;
    font-size: 2em;
    color: $text-white;
    margin-right: 80px;
    white-space: nowrap;
  }
}
@include desktop {
  .fa-eraser {
    margin-left: 200px;
  }
}

@include tablet {
  .related-hashtags {
    flex-direction: column;
    padding: 20px 30px;
  }
  .schedule-title {
    max-width: 500px;
  }
  .tags-input {
    width: 100%;
    margin-top: 15px;
    overflow: scroll;
  }

  .schedule-info .schedule-title .thumbs {
    font-size: 1em;
  }
  .fa-eraser {
    margin-left: 65px;
  }
}

@include mobile {
  .related-hashtags {
    flex-direction: column;
    padding: 20px 30px;
  }
  .schedule-title {
    max-width: 480px;
  }
  .tags-input {
    margin-top: 15px;
    min-width: 480px;
    overflow: scroll;
  }
  .schedule-info .schedule-title .thumbs {
    font-size: 1em;
  }
  .fa-eraser {
    margin-left: 60px;
  }
}

// ! refactor hashtag elements
.tags-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 68px;
  max-height: 100%;
  overflow: scroll;
  width: 100%;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  background-color: #fff;
  border-radius: 6px;

  &:focus-within {
    border: 1px solid #0052cc;
  }
  input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 18px;
    padding: 4px 0 0 0;
    &:focus {
      outline: transparent;
    }
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 18px;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  // background: #0052cc;
  // background: $btn-color1;
  background: #7285a5;

  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 18px;
    margin-left: 8px;
    color: #fff;
    cursor: pointer;
  }
}

// ! Schedule kanbanboards
.schedules-container {
  position: relative;
  width: 85%;
  // ! min-height 신의 한 수
  min-height: 150vh;
  margin: 5px auto;
  background: $bg-color3;
  padding: 20px 30px;
  color: $bg-color1;
  display: flex;
  flex-direction: column;

  .sc-container {
    background: $text-white;
    // border: 2px solid red;
    padding: 10px 15px;
    border-radius: 10px;
    width: 80%;
    min-width: 360px;
    max-width: 300px; // ! 여기 바꿈...
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      font-size: 1.5em;
      width: 100%;
      height: 50px;
    }

    .sc-card {
      background: $bg-color1;
      width: 80%;
      min-width: 320px;
      height: 230px;
      border-radius: 15px;
      color: $text-white;
      padding: 20px 30px;
      margin-bottom: 15px;

      .card-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .card-info {
          h4 {
            font-size: 1.3em;
            padding-bottom: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .time {
            background: $btn-hover1;
            border-radius: 5px;
            padding: 2px 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      .btn-closed {
        font-size: 1.4em;
        position: absolute;
        right: 0;
        bottom: -10%;
        cursor: pointer;
        &:hover {
          color: $btn-color1;
        }
      }
      .text-content {
        color: $bg-color1;
        background: $text-white;
        height: 92px;
        padding: 10px 15px;
        margin-top: 20px;
        border-radius: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        // line-height: 1.5em;
        // height: 4.8em;
        text-overflow: ellipsis;
        overflow: scroll;
        white-space: wrap;
        font-size: 1.2em;
        line-height: 1.1em;
        textarea {
          resize: none;
          margin-top: 3px;
          width: 100%;
          background: opacify($color: #dddddd, $amount: 0.2);
          border: 2px solid #999999;
          border-radius: 5px;
        }
        textarea::placeholder {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
      .address-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.75em;
        font-weight: 500;
        margin-top: 10px;
        padding: 10px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          color: $btn-color1;
          transition-duration: 0.2s;
        }
        h4 {
          margin-right: 10px;
        }
      }
    }
    .add-card {
      //   border: 2px solid red;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 50px;
      position: relative;
      color: $bg-color1;

      h4 {
        font-weight: 500;
        font-size: 1.2em;
        padding-left: 10px;
      }

      button {
        background: none;
        border: none;
        font-size: 2.5em;
        color: $bg-color1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        &:hover {
          color: $btn-color1;
          transition-duration: 0.2s;
        }
      }
    }
  }

  .morning {
    margin-bottom: 40px;
  }
  .empty {
    min-height: 80vh;
  }
}

@include desktop {
  .schedules-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .morning {
      margin-top: 20px;
    }
  }
  .sc-container {
    max-width: 400px;
  }
}

@include tablet {
  .sc-container {
    max-width: 555px;
  }
}

.textareaInput {
  color: $bg-color1;
  background: $text-white;
  resize: none;
  width: 100%;
  padding: 10px 15px;
  margin-top: 13px;
  border-radius: 5px;
  border: none;
  text-overflow: hidden;
  overflow: scroll;
  white-space: wrap;
}

.btn-addCard {
  border: none;
  width: 60px;
  height: 35px;
  position: relative;
  top: -22%;
  cursor: pointer;
  border-radius: 5px;
  background-color: $btn-color1;
  color: $text-white;
  &:hover {
    background-color: $btn-hover2;
  }
}
